
<main>

<aside>
</aside>

<section id="wer">
<%if current_user!=nil%>
<div class="createQuestion">

<%= form_for @question, remote: true do |f| %>

<%= f.label :ask_question %> <br>

<%= f.text_area :content%>  <br>

<%= f.submit  id: 'create_question_submit' %>
<% end %>
	
 <% if @question.errors.any? %>
      
      <% @question.errors.full_messages.each do |message| %>
     
      <script type="text/javascript">
	noty({text: '<%= message %>', type: 'error'});
</script>
	 <% end %>
     
  <% end %>
  </div>
  <%end%>

<div id="allq">
<%@questionfeed.each do |question| %>
<%=render 'question', question:question%>	
<%end%>		
</div>

</section>
	
</main>
