<!DOCTYPE html>
<html>
<head>
  <title>Quora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
<script type="text/javascript">
	noty({text: '<%= notice %>', type: 'alert', timeout: 2000, progressBar: true});


</script>

<% end %>


<% if alert %>

<script type="text/javascript">
	noty({text: '<%= alert %>', type: 'error', timeout: 2000, progressBar: true});

</script>
<% end %>

<% if user_signed_in? %>
<header>

<div class="logo">
<%= image_tag 'quora.png' %>
</div>
<div class="Search">
<input id="searchh" type="text" name="search" placeholder="Search..">
</div>
welcome
<%=current_user.first_name%>
<%=current_user.last_name%>
<nav>

<ul>

<li>  <%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>

<li> </li>
</ul>
</nav>


</header>
<%else%>
<header>

<div class="logo">
<%= image_tag 'quora.png' %>
</div>
<div class="Search">
<input id="searchh" type="text" name="search" placeholder="Search..">
</div>

<nav>

<ul>

<li>  <%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>
<li>  <%= link_to "Sign In",new_user_session_path,method: :get %></li>

<li> </li>
</ul>
</nav>


</header>


 <% end %>
<%= yield %>

</body>
</html>
